
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";
.hero{
    font-family: 'Science Gothic';    
    font: 20px; 
    font-weight: 300;
    
}


.navigation{
  /* box-shadow: inset 0 0 4px rgb(0, 0, 0); */
  font-family: 'Science Gothic';

}
/* .navigation::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  height: 350px;
  border-radius: 50;
  background: linear-gradient(
    to right,
    rgba(219, 137, 226, 0.337),
    rgba(44, 132, 255, 0.534),
  

    transparent
  );
  filter: blur(2px);
} */

.witebox {
 
  background-image: linear-gradient(rgba(246, 246, 246, 0.995) ,rgba(255, 255, 255, 0.392) );
}

.ringg{
    height: 600px;
    width: 600px;
    border-radius: 400px;
    position: absolute;
    left: 35%;
    top:15%;
    filter: blur(20px);
    animation: rotate  5s infinite ;
    animation:  move 5s infinite ;
    
    

}

@keyframes rotate {
  0%   { transform: rotateZ(0deg); }
  50% { transform: rotateZ(360deg); }
  0%   { transform: rotateZ(0deg); }
}
@keyframes move {
    0%   { transform: translateX(0px)  translateY(0px) }
    50% { transform: translateX(30px) translateY(30px); }
    100%   { transform: translateX(0px)  translateY(0px) }
}



.r1 { animation-delay: 1s; }
.r2 { animation-delay: 2s; }
.r3 { animation-delay: 3s; }
.r4 { animation-delay: 4s; }
.r5 { animation-delay: 5s;  }


.cards div{

  background-position: 100px 100px;
  background-repeat: no-repeat;
}.cards div::after{
  background: black;
}



.cards div:hover{

  transition-duration: 1s;
  /* animation: bgblack 1s forwards; */

}

@keyframes bgblack {
  0%{ background-image: linear-gradient(rgba(255, 255, 255, 0.432) 100%,black 0%);}
  100%{ background-image: linear-gradient(white 0%,black 100%);}

  
}



@keyframes rotate3d {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}


.productcard{
  height: 400px;
  width: 250px;
  background: rgba(255, 255, 255, 0.404);
  backdrop-filter: blur(5px);
  min-width: 250px;
  /* box-shadow: inset -2px 1px 5px white; */
  

}

.productcard:hover{
  height:430px;
  width: 280px;
  transition-duration: 500ms;

}
